[build]
builder = "nixpacks"
buildCommand = "composer install --no-dev --optimize-autoloader && npm install && npm run build"

[deploy]
startCommand = "vendor/bin/heroku-php-apache2 public/"
healthcheckPath = "/"
healthcheckTimeout = 100
releaseCommand = "php artisan migrate --force"

[[services]]
port = 8080